@{
    ViewData["Title"] = "Home Page";
}

<div class="panel panel-default">
    <form>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-5">
                    <h2>Options</h2>
                    <div id="country">
                        <label>Country</label>
                        <select id="ddlCountry" class="form-control"></select>
                    </div>
                    <div id="city">
                        <label>City</label>
                        <select id="ddlCity" class="form-control"></select>
                    </div>
                    <div id="locations">
                        <label>Location</label>
                        <select id="ddlLocations" class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-5">
                    <h2>Parameters</h2>
                    <div id="parameters">
                        <label>Parameter</label>
                        <select id="ddlParameters" class="form-control" required></select>
                    </div>
                    <div>
                        <label>From</label>
                        <input type="date" id="dateStart"
                               min="2018-01-01" max="2018-12-31" class="form-control" required />
                        <label>To</label>
                        <input type="date" id="dateEnd"
                               min="2018-01-01" max="2018-12-31" class="form-control" required />
                    </div>
                </div>
                <div class="panel col-md-2 col-lg-offset-4">
                    <div>
                        <input type="submit" value="Get data" class="form-control btn-primary" />
                    </div>
                </div>
                <div class="col-md-11 col-lg-offset-1">
                    <div id="table">
                        <table id="tblData">
                            <thead>
                                <tr>
                                    <th>Column 1</th>
                                    <th>Column 2</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Row 1 Data 1</td>
                                    <td>Row 1 Data 2</td>
                                </tr>
                                <tr>
                                    <td>Row 2 Data 1</td>
                                    <td>Row 2 Data 2</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts
    {
    <script src="~/PageScripts/Home/Index.js"></script>
}
