@{
    ViewData["Title"] = "Home Page";
    var urlBaseApi = ViewBag.url;
}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-5">
                <h2>Options</h2>
                <div id="country">
                    <label>Country</label>
                    <select id="ddlCountry" class="form-control"></select>
                </div>
                <div id="city">
                    <label>City</label>
                    <select id="ddlCity" class="form-control"></select>
                </div>
                <div id="locations">
                    <label>Location</label>
                    <select id="ddlLocations" class="form-control"></select>
                </div>
            </div>
            <div class="col-md-5">
                <h2>Parameters</h2>
                <div id="parameters">
                    <label>Parameter</label>
                    <select id="ddlParameters" class="form-control" required></select>
                </div>
                <div>
                    <label>From</label>
                    <input type="date" id="dateStart"
                           min="2018-01-01" max="2018-12-31" class="form-control" required />
                    <label>To</label>
                    <input type="date" id="dateEnd"
                           min="2018-01-01" max="2018-12-31" class="form-control" required />
                </div>
            </div>
            <div class="panel col-md-2 col-lg-offset-4">
                <div>
                    <input type="submit" value="Get data" id="btnGet" class="form-control btn-primary" />
                </div>
            </div>
            <div class="col-sm-9">
                <div class="panel panel-heading">
                    <div id="table">
                        <table id="tblData" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Parameter</th>
                                    <th>Country</th>
                                    <th>City</th>
                                    <th>Location</th>
                                    <th>Value</th>
                                    <th>Unit</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Parameter</th>
                                    <th>Country</th>
                                    <th>City</th>
                                    <th>Location</th>
                                    <th>Value</th>
                                    <th>Unit</th>
                                    <th>Date</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <script src="~/PageScripts/Home/Index.js"></script>
}
